langgraph
langchain-core
elasticsearch
redis
fastapi
uvicorn
pydantic
confluent-kafka
minio
pymupdf
python-dotenv
python-docx
python-pptx
ollama
sentence-transformers
pymongo
uvicorn
google-genai
langgraph-checkpoint-redis

torch --index-url https://pytorch.org
